.booking-form {
  background-color: white;
  width: 100%;
  padding: 20px 20px;
  border-radius: 5px;
}
.booking-form .form-control {
  height: 60px;
  color: black;
  font-weight: bold;
}
.start-booking-btn {
  background-color: #f9a51a;
  width: 100%;
  color: black;
  outline: 0px;
  border: 0px;
  padding: 10px 0px;
}
