@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
.pt-200 {
  padding-top: 200px;
}
.pt-100 {
  padding-top: 100px;
}
.home-bg {
  width: 100%;
  height: 100vh;
  background-image: url("https://i.ibb.co/DbcD9zC/Rectangle-1.png");
  background-position: bottom;
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.place-name {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 80px;
  color: #ffffff;
}
.place-des {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
